{% extends 'base.html.twig' %}

{% block title %}Error - {{ parent() }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="box col-md-12">
            <h1>Oops</h1>

            <p>Sorry, there seems to have been a problem submitting the form.</p>
        </div>
    </div>

{% endblock %}