{% extends 'base.html.twig' %}

{% block title %}Error - {{ parent() }}{% endblock %}

{% block body %}
    <h1>Oops</h1>

    <p>Sorry, there seems to have been a problem submitting the form.</p>
{% endblock %}