{% extends 'base.html.twig' %}

{% block title %}Success - {{ parent() }}{% endblock %}

{% block body %}
    <h1>Yay!</h1>

    <p>Thanks, {{ name }}. Your message has been sent and I shall review it shortly.</p>
{% endblock %}