{% extends 'base.html.twig' %}

{% block title %}
    Home - {{ parent() }}
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="assets/js/app.js" type="text/javascript"></script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="box col-md-12">
            <div class="phpstorm-header">
                <div class="row">
                    <div class="col-md-2 banner text-left">
                        <p class="banner-text left">My name is jrdn hannah, and I create clever web solutions</p>
                    </div>
                    <div class="col-md-8">
                        <img src="assets/images/phpstorm-header.png" alt="PHPStorm" width="650" height="212"/>
                    </div>
                    <div class="col-md-2 banner text-right">
                        <p class="banner-text right">Why not see what I can do for you?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="box col-md-12">
            <h1>Who am I?</h1>
            <p>
                My name is jrdn hannah, and I am a 22 year old web developer currently based in Swansea, South Wales.<br />
            </p>
            <h2>What do I do?</h2>
            <p>
                I primarily develop in Symfony2, but enjoy branching out and working with as many tools as I can get my
                hands on. For example, this website is built in the <a href="//silex.sensiolabs.org" target="_blank">Silex</a>
                micro-framework.
            </p>
            <h2>What I can do for you</h2>
            <p>
                If you need a web application, or any kind of website, I can create an effective and powerful application for you using the best tools currently available.
            </p>
        </div>
    </div>
{% endblock %}