{% extends 'crud/item.html.twig' %}

{% block item_content %}
    {{ parent() }}

    <p>
        {{ entity.content }}
    </p>
    <footer>
        <small>
            Last updated at {{ entity.lastUpdated|date('g:ia \\o\\n l \\t\\h\\e jS \\o\\f F, Y') }}
        </small>
    </footer>
{% endblock %}